<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="static/css/success.css"> 

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="icon" href="static/images/fender-bender.png">

    <title>SVADARS</title>
</head>

<body>
    <header>
        <h1>Smart Vehicle Accident Detection and Reporting System</h1>
        <img src="static/images/pnu English Logo.png">
    </header>

    <div class="main">
        <video src="static/videos/car.mp4" autoplay loop muted></video>
        <div id="successMessage">
            <h2>Upload Success!</h2>
            <a id="downloadLink" href="generate_report">Download The File Report</a>
        </div>
    </div>


    <footer>
        <p>&copy; 2024 Smart Vehicle Accident Detection and Reporting System. All rights reserved.</p>
        <p>Created By<br>
        Monerah Almobarak, Alaa Alshuaibi, Nada Alotaibi, Sarah Aljuhani, Sarah Altaweel</p>
        <p>Supervised By<br>
        Dr. Amel Ksibi</p>
    </footer>


    <script>
        document.getElementById('downloadLink').addEventListener('click', function(event) {
            // Prevent the default behavior of the anchor tag
            event.preventDefault();
    
            // Redirect to the server route that generates and serves the DOCX file
            window.location.href = '/generate_report';
        });
    </script>
    
</body>
</html>