<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="static/css/fail.css"> 

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="icon" href="static/images/fender-bender.png">

    <title>SVADARS</title>
</head>

<body>
    <header>
        <h1>Smart Vehicle Accident Detection and Reporting System</h1>
        <img src="static/images/pnu English Logo.png">
    </header>

    <div class="main">
        <video src="static/videos/car.mp4" autoplay loop muted></video>
        <div id="noAccidentMessage">
            <h2>No Accident!</h2>
            <p>The uploaded image is not an accident image.</p>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 Smart Vehicle Accident Detection and Reporting System. All rights reserved.</p>
        <p>Created By<br>
        Monerah Almobarak, Alaa Alshuaibi, Nada Alotaibi, Sarah Aljuhani, Sarah Altaweel</p>
        <p>Supervised By<br>
        Dr. Amel Ksibi</p>
    </footer>
</body>
</html>